# -*-mode:gitconfig-*- vim:ft=gitconfig
# -*-mode:ini-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#

[core]
    sshcommand = "C:/Windows/System32/OpenSSH/ssh.exe"
    pager = "diff-so-fancy | less --tabs=4 -RFX"
    autocrlf = false

[gc]
    auto = 256

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ .gpgkey | quote }}
    useConfigOnly = true

[init]
    defaultBranch = main

[fetch]
    prune = true

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[diff-so-fancy]
    first-run = false

[commit]
    gpgsign = true

[tag]
    forceSignAnnotated = true
    gpgSign = true

[credential]
	helper = manager-core
    # helper = cache --timeout=7200

[color]
    ui = true

[include]
    path = {{ mustRegexReplaceAll `\\` .chezmoi.homeDir `\\` }}\\.gitinclude

[help]
    autocorrect = 20

[diff "gpg"]
    textconv = gpg --no-tty --decrypt

[gpg]
    # {{- /* fuck this entire line of shenanigans... */ -}}
    # expanded path to gpg.exe from scoop
    program = "{{ output "scoop" "prefix" "gpg4win" | trim | splitList `\` | join `/` | }}/GnuPG/bin/gpg.exe"

[pull]
    ff = only
