# -*-mode:gitconfig-*- vim:ft=gitconfig
# -*-mode:ini-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#

[core]
    sshcommand = "plink -agent"
    pager = "diff-so-fancy | less --tabs=4 -RFX"

[gc]
    auto = 256

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ .gpgkey | quote }}
    useConfigOnly = true

[init]
    defaultBranch = main

[fetch]
    prune = true

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[commit]
    gpgsign = true

[tag]
    forceSignAnnotated = true
    gpgSign = true

[credential]
    helper = cache --timeout=7200

[color]
    ui = true

[include]
    path = {{ mustRegexReplaceAll `\\` .chezmoi.homeDir `\\` }}\\.gitinclude

[help]
    autocorrect = 20

[diff "gpg"]
    textconv = gpg --no-tty --decrypt

[gpg]
    # fuck this entire line of shenanigans...
    program = "{{ mustRegexReplaceAll `\\` .chezmoi.homeDir `\\` }}{{ output "scoop" "which" "gpg" | trim | trimPrefix "~" | splitList `\` | join `\\` |  }}"

[pull]
    ff = only
